<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IENIdentificationService" />
                <binding name="BasicHttpBinding_IEvaluationService" />
                <binding name="BasicHttpBinding_IQueryService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52193/Services/ENIdentificationService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IENIdentificationService"
                contract="ENIdentificationServiceRef.IENIdentificationService"
                name="BasicHttpBinding_IENIdentificationService" />
            <endpoint address="http://localhost:52193/Services/EvaluationService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEvaluationService"
                contract="EvaluationServiceRef.IEvaluationService" name="BasicHttpBinding_IEvaluationService" />
            <endpoint address="http://localhost:52193/Services/QueryService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQueryService"
                contract="QueryServiceRef.IQueryService" name="BasicHttpBinding_IQueryService" />
        </client>
    </system.serviceModel>
</configuration>